@import url(/css/navbar.css);
@import url(/css/header.css);
@import url(/css/section-row.css);
@import url(/css/section-welcome.css);
@import url(/css/section-menu.css);

:root{
    --main-bg-color: #121217;
    --secondry-bg-color: #18181D;
    --text-main-color: #ffff;
    --text-secondry-color: orange;
}
body{
    background-color: var(--main-bg-color);
    background-image: url(/images/wide1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
a{
    color: var(--text-main-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}