.section-service-tab{
    margin-top: 5rem;
    background-color: var(--main-bg-color);

}
.service-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}
.service-tab-tittle{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.service-tab-tittle h1{
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    color: #ffff;
    font-size: 26px;
}
.service-tab-tittle{
    color: orange;
    font-size: 20px;
    border-bottom: 1px solid orange;
}
.service-menu-btn{
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
.service-menu-btn a{
    font-size: 14px;
    text-transform: uppercase;
    border: 3px solid grey;
    padding: 0.5rem 2rem;
    font-weight: bold;
}
.service-menu-btn a:hover{
    color: orange;
    border-color: orange;
    transition: 0.5s ease all;
}
.service-menu-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

.menu-list-row-up, .menu-list-row-mid, .menu-list-row-down{
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    width: 70%;
}
.col-img img{
    border-radius: 240px;
    width: 60px;
    height: 60px;
}
.col-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: #ffff;
    padding-left: 0.5rem;
}
.col-2 h3{
    font-size: 16px;
}
.col-2 p{
    font-size: 14px;
    color: grey;
    font-weight: bold   ;
}

.col-4{
    color: orange;
    padding-right: 2rem;
}