.section-about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--secondry-bg-color);
    width: auto;
    height: 40vh;
}
.container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: -15rem;
}
.section-row{
    display: flex;
    flex-direction: column;
    width: 370px;    
}
.section-row-col{
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
}
.section-row-col img{
    width: 370px;
    height: 245px;
}
.row-col-tittle h1{
    text-align: left;
    color: var(--text-secondry-color);
    font-size: 16px;
}
.row-col-text p{
    color: #999999;
    line-height: 1.6rem;
    font-size: 14px;
    font-weight: normal;
}
.row-col-btn{
    color: var(--text-main-color);
    text-transform: uppercase;
    border-bottom: 2px solid var(--text-secondry-color);
    width: 26%;
    padding-bottom: 0.4rem;
}

