* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(/images/wide1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container {
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-evenly;
    gap: 8rem;
    height: 10vh;
}

.logo {
    padding-top: 1rem;
}

.menu-bar {
    padding-top: 2rem;
}

.menu-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.85rem;
    list-style: none;
}

.menu-bar li a {
    color: #ffff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 90vh;
    text-align: center;
}

.header-tittle {
    margin-top: 1rem;
    color: #ffff;
}

.header-container h1 {
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.header-container p {
    padding-top: 1.7rem;
    color: orange;
    font-size: 1.2rem;
}

.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.book-btn, .menu-btn {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #ffff;
    padding: 0.8rem 2rem;
    border-radius: 24px;
    font-weight: bold;
    transition: background-color 0.5s, color 0.5s;
}

.book-btn {
    border: 2px solid #ffff;
}

.menu-btn {
    background-color: orange;
}

.book-btn:hover {
    background-color: #ffff;
    color: black;
}

.menu-btn:hover {
    background-color: #ffff;
    color: black;
}

/***** SECTION CONTANT START ****/
.section-about{
    background-color: #121217;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: -2.5rem;

}
.section-about-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}
.section-about-box img{
    width: 360px;
    height: 240px;
}
.img-tittle{
    color: orange;
}
.img-text{
    width: 360px;
    color: #ffff;
    font-size: 14px;
}
.img-btn a{
    text-transform: uppercase;
    color: #ffff;
    font-size: 1rem;
    border-bottom: 1px solid orange;
    margin-bottom: 1rem;

}
/***** SECTION CONTANT END ****/